%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    = link_to 'Sign up with facebook', user_omniauth_authorize_path(:facebook), {class: 'btn btn-primary'}
  %div= f.submit "Sign up"
= render "devise/shared/links"
