= form_for @route do |f|
  - if @route.errors.any?
    #error_explanation
      %h2= "#{pluralize(@route.errors.count, "error")} prohibited this route from being saved:"
      %ul
        - @route.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :from
    = f.text_field :from
  .field
    = f.label :to
    = f.text_field :to
  .field
    = f.label :available_sits
    = f.text_field :available_sits

    .well.well-small
      %h5 Conditions
      
    =form_for :schedule do |a|
      .field
        = a.label :departure
        = a.text_field :departure
      .field
        = a.label :arrival
        = a.text_field :arrival
      .field
        = a.label :date
        = a.text_field :date
        
    .field
      = f.label :vehicle
      = render partial: "user_vehicles_listing"     
        
      
         
      
   
  .actions
    = f.submit 'Save'
