= form_for @route do |f|
  - if @route.errors.any?
    #error_explanation
      %h2= "#{pluralize(@route.errors.count, "error")} prohibited this route from being saved:"
      %ul
        - @route.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :country
    = f.text_field :country
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :available_sits
    = f.text_field :available_sits
  .actions
    = f.submit 'Save'
