= form_for @route do |f|
  - if @route.errors.any?
    #error_explanation
      %h2= "#{pluralize(@route.errors.count, "error")} prohibited this route from being saved:"
      %ul
        - @route.errors.full_messages.each do |msg|
          %li= msg
          
  .span7.pull-right.well.well-small
    %div{:id => "map_canvas", :style => "border: 1px solid black; position:absolute; height:400px;position:relative"}
    %input{:type=>"hidden", :id=>"map_points"}
    %input{:type=>"button",:id=>"clear_button" , :value=>"Clear"} 
         
  .span4.pull-left.well.well-small
    .field
      = f.label :from 
      = f.text_field :from, :size =>"100%"
    .field
      = f.label :to
      = f.text_field :to, :size =>"100%"
 
  .span4.pull-left.well.well-small
    %h5 Conditions
    
    =fields_for :schedule do |a|
      .field
        = a.label :departure 
        = a.text_field :departure, :format=>"time", :readonly=>true
      .field
        = a.label :arrival
        = a.text_field :arrival, :format=>"time", :readonly=>true
      .field
        = a.label :date
        = a.text_field :date,:format=>"date", :readonly=>true
 
  .clearfix 
  .span4.pull-left.well.well-small
    %h5 Vehicle        
    .field
      = f.label :vehicle
      = render partial: "user_vehicles_listing"
             
    .field
      = f.label :available_sits
      = f.text_field :available_sits
        
        
  .clearfix 
  
  .actions
    = f.submit 'Save'
    
:javascript
  
  $("input[format='time']").timepicker({
      hourGrid: 4,
      minuteGrid: 10,
      timeFormat: 'hh:mm tt'
  });
  
   $("input[format='date']").datepicker({
      hourGrid: 4,
      minuteGrid: 10,
      timeFormat: 'hh:mm tt'
  });
  
  
  $('#clear_button').click(function(){
      reset();
  });
  
  var directionsService = new google.maps.DirectionsService();
  var map;
  var origin = null;
  var destination = null;
  var waypoints = [];
  var markers = []; 
  var browserSupportFlag =  new Boolean();
  var initialLocation;
  
  initialize();
 
  function initialize() {
    directionsDisplay = new google.maps.DirectionsRenderer({draggable: true});
    var initialLocation = new google.maps.LatLng(18.488075,-69.931126);
    var myOptions = {
      zoom:15,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      draggableCursor: "pointer",
      center: initialLocation,
    }
    
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    directionsDisplay.setMap(map);
    
      if(navigator.geolocation) {
          browserSupportFlag = true;
          navigator.geolocation.getCurrentPosition(function(position) {
            initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
            map.setCenter(initialLocation);
          }, function() {
            handleNoGeolocation(browserSupportFlag);
          });
      }
      // Browser doesn't support Geolocation
      else {
        browserSupportFlag = false;
        handleNoGeolocation(browserSupportFlag);
      }
      
      function handleNoGeolocation(errorFlag) {
        if (errorFlag == true) {
          alert("Geolocation service failed.");
          //initialLocation = newyork;
        } else {
          alert("Your browser doesn't support geolocation. We've placed you somewhere near.");
          //initialLocation = siberia;
        }
        map.setCenter(initialLocation);
      }
   
      
    
    
    google.maps.event.addListener(map, 'click', function(event) {
      if (origin == null) {
        origin = event.latLng;
        addMarker(origin);
      } else if (destination == null) {
        destination = event.latLng;
        addMarker(destination);
      } else {
        if (waypoints.length < 9) {
          waypoints.push({ location: destination, stopover: true });
          destination = event.latLng;
          addMarker(destination);
        } else {
          alert("Maximum number of waypoints reached");
        }
      }
      calcRoute();
    });
  }
 
  function addMarker(latlng) {
    markers.push(new google.maps.Marker({
      position: latlng, 
      map: map,
      icon: "http://maps.google.com/mapfiles/marker" + String.fromCharCode(markers.length + 65) + ".png"
    }));    
  }
 
  function serializeLatLng(ll) {
  return '{latitude: ' + ll.lat() + ', longitude: ' + ll.lng() + '}';
  }
 
  function calcRoute() {
    if (origin == null) {
      //alert("Click on the map to add a start point");
      return;
    }
    
    if (destination == null) {
      alert("Click on the map to add an end point");
      return;
    }
    
    var mode = google.maps.DirectionsTravelMode.DRIVING;
 
    var request = {
        origin: origin,
        destination: destination,
        waypoints: waypoints,
        travelMode: mode,
        optimizeWaypoints: true,
        avoidHighways: false
    };
      directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
    var points_text = "", points_json= "", format = "raw";
    //if (document.getElementById("json").checked) {
     // format = "json";
      points_json += 'var routeCenter = ' + serializeLatLng(response.routes[0].bounds.getCenter()) + ';\n';
      points_json += 'var routeSpan = ' + serializeLatLng(response.routes[0].bounds.toSpan()) + ';\n';
      points_json += 'var routePoints = [\n'
      
      points_text += 'var routeCenter = ' + serializeLatLng(response.routes[0].bounds.getCenter()) + ';\n';
      points_text += 'var routeSpan = ' + serializeLatLng(response.routes[0].bounds.toSpan()) + ';\n';
      points_text += 'var routePoints = [\n'
   // }
    document.getElementById("route_from").value = response.routes[0].legs[0].start_address 
    document.getElementById("route_to").value = response.routes[0].legs[0].end_address
    response.routes[0].bounds.getCenter.lng
    var nPoints = response.routes[0].overview_path.length;
    for (var i = 0; i < nPoints; i++) { 
      //if ( format == "json" ) {
        points_json += '\t' + serializeLatLng(response.routes[0].overview_path[i]) + (i < (nPoints - 1) ? ',\n' : '');
      //} else {
        points_text += response.routes[0].overview_path[i].lat() + ',' + response.routes[0].overview_path[i].lng() + '\n';
      //}
    }
    //if ( format == "json" ) {
      points_json += '\n];'
    //}
 
    var map_points=document.getElementById("map_points");
    map_points.value = points_json;
    clearMarkers();
      directionsDisplay.setDirections(response);
      }
    });
  }
 
  function clearMarkers() {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
  }
  
  function clearWaypoints() {
    markers = [];
    origin = null;
    destination = null;
    waypoints = [];
  }
  
  function select_all() {
  var points_textarea=document.getElementById("points_textarea");
  points_textarea.focus();
  points_textarea.select();
  }
 
  function reset() {
    clearMarkers();
    clearWaypoints();
    directionsDisplay.setMap(null);
    directionsDisplay.setPanel(null);
    directionsDisplay = new google.maps.DirectionsRenderer();
    directionsDisplay.setMap(map);
    document.getElementById("map_points").value = '';
  }
