%h2 Going on right now

.navbar
  .navbar-inner
    %form.navbar-search.pull-left
      %input.search-query.span4{:type=>'text', :placeholder=>'Search...'}

    .btn-group.pull-left
      %button.btn Going
      %button.btn Looking

    = will_paginate @routes, :class => 'pagination pagination-right pull-right'

%table.table.table-bordered.table-hover
  %tbody
    - @routes.each do |route|
      %tr
        %td.span11
          From:
          = route.from
          To:
          = route.to
          |
          Available sits
          = route.available_sits
        %td.span1
          = link_to 'Check in', route,
          {:class => 'action_btn btn'}
