%p#notice= notice

%p{:id => 'from'}
  = @route.from
%p{:id => 'to'}
  = @route.to
  
%p
  %b Available sits:
  = @route.available_sits
  
%p
  %b departure:
  = @route.schedule.departure
  
%p
  %b Driver:
  = link_to @driver.name + @driver.lastname, "../hitchhikers/"+@route['hitchhiker_id']
/ .span7.pull-right.well.well-small
/     %div{:id => "map_canvas", :style => "border: 1px solid black; position:absolute; height:400px;position:relative"}
/     %input{:type=>"hidden", :id=>"map_points"}
/     %input{:type=>"button",:id=>"clear_button" , :value=>"Clear"} 
 
= link_to "Check In", controller: "routes", action: "check_in", method: 'put', id: @route['_id'],  user_id: @route['hitchhiker_id']
= link_to 'Edit', edit_route_path(@route)
\|
= link_to 'Back', routes_path


#map-canvas{:style => "float:left;width:300px; height:300px"}
#directionsPanel{:style => "float:right;width:300px;height:300px"}

:javascript
  var directionsDisplay;
  var directionsService = new google.maps.DirectionsService();
  var map;

  function initialize() {
  directionsDisplay = new google.maps.DirectionsRenderer();

  var mapOptions = {
  zoom:12,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  center: new google.maps.LatLng(18.5,-69.983329)
  }
  map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
  directionsDisplay.setMap(map);
  directionsDisplay.setPanel(document.getElementById("directionsPanel"));
  calcRoute()
  }

  function calcRoute() {
  var start = document.getElementById("from").textContent.trim();
  var end = document.getElementById("to").textContent.trim();
  var request = {
  origin:start,
  destination:end,
  travelMode: google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
    directionsDisplay.setDirections(response);
    }
  });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
