%p#notice= notice

%p
  %b From:
  = @route.from
%p
  %b To:
  = @route.to
  
%p
  %b Available sits:
  = @route.available_sits
  
%p
  %b departure:
  = @route.schedule.departure

= link_to 'Edit', edit_route_path(@route)
\|
= link_to 'Back', routes_path
