= form_tag @hitchhiker do |f|
  - if @hitchhiker.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hitchhiker.errors.count, "error")} prohibited this hitchhiker from being saved:"
      %ul
        - @hitchhiker.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = label_tag :username
    .controls
      = text_field_tag :username#, #{:class=> 'ilusiom'}
  .control-group
    = label_tag :name
    .controls
      = text_field_tag :name
  .control-group
    = label_tag :lastname
    .controls
      = text_field_tag :lastname
  .control-group
    = label_tag :email
    .controls
      = text_field_tag :email
  .control-group
    .controls.checkbox-controls
      = button_tag :hitchhiker
      Hitchhiker
  .control-group
    .controls.checkbox-controls
      = check_box_tag :hitchhiker
      Hitchhiker
  / field :name, type: String
  / field :lastname, type:String
  / field :username, type: String
  / field :email, type: String
  / field :password, type: String
  / field :image, type: String
  / field :admin, type: Boolean
  / #field :fb_access, type:String
  
  -# = f.fields_for :vehicles do |builder|
  -#  = render 'vehicle_fields', :f => builder

  .actions
    = submit_tag 'Save'
