%fieldset
%legend Vehicle information
.span4
  .control-group
    %label.control-label{:for => 'selectYear'} Year
    .controls
      = f.select :year
        - (1950..Time.now.year + 1).each do |y|
          %option
            = y
  .control-group
    %label.control-label{:for => 'selectBrand'} Brand
    .controls
      %select#selectBrand.input-xlarge{:name => 'select_brand'}
        - (1950..Time.now.year + 1).each do |y|
          %option
            = y
.span4
  .control-group
    %label.control-label{:for => 'selectModel'} Model
    .controls
      %select#selectModel.input-xlarge{:name => 'select_model'}
        - (1950..Time.now.year + 1).each do |y|
          %option
            = y
  .control-group
    %label.control-label{:for => 'sits'} Sits
    .controls
      %select#sits.input-xlarge{:name => 'sits'}
        - (1..20).each do |s|
          %option
            = s
.span3
  .control-group
    .controls.checkbox-controls
      %input#checkbox-hasTrunk.checkbox{:name => 'has_trunk', :type => 'checkbox'}
        Has Trunk
