%h1 Listing hitchhikers

%table
  %tr
    %th Username
    %th Name
    %th Lastname
    %th Email
    %th Hitchhiker
    %th
    %th

  - @hitchhikers.each do |hitchhiker|
    %tr
      %td= hitchhiker.username
      %td= hitchhiker.name
      %td= hitchhiker.lastname
      %td= hitchhiker.email
      %td= hitchhiker.hitchhiker
      %td= link_to 'Show', hitchhiker_path(hitchhiker._id)
      %td= link_to 'Destroy', hitchhiker, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Hitchhiker', new_hitchhiker_path
