%h2 New user
%form.form-horizontal{:action => 'create', :method=>'post'}

  %fieldset
    %legend Personal information
    #photo-driver.control-group.span4
      %a.thumbnail{:href=>'#'}
        %img{:src => '', :alt=>''}
    .span4.offset1
      .control-group
        %label.control-label{:for => 'username'} Username
        .controls
          %input.input-xlarge{:name => 'username', :placeholder => 'cool username here', :type => 'text'}
      .control-group
        %label.control-label{:for => 'name'} Name
        .controls
          %input.input-xlarge{:name => 'name', :placeholder => 'name', :type => 'text'}
      .control-group
        %label.control-label{:for => 'lastname'} Last name
        .controls
          %input.input-xlarge{:name => 'lastname', :placeholder => 'last name', :type => 'text'}
    .span4
      .control-group
        %label.control-label{:for => 'email'} Email
        .controls
          %input.input-xlarge{:name => 'email', :placeholder => 'email', :type => 'email'}
      .control-group
        %label.control-label{:for => 'password'} Password
        .controls
          %input.input-xlarge{:name => 'password', :placeholder => 'password', :type => 'password'}
        .controls.checkbox-controls
          %input.checkbox{:name => 'has_trunk', :type => 'checkbox'}
            Hitchhiker
    -#.span4
    -#  %table.table.table-bordered.table-hover
    -#    %th Last Routes
    -#    - 5.times do
    -#      %tr
    -#        %td From Miami To Ibiza
  %fieldset
    %legend Vehicle information
    .span4
      .control-group
        %label.control-label{:for => 'selectYear'} Year
        .controls
          %select#selectYear.input-xlarge{:name => 'select_year'}
            - (1950..Time.now.year + 1).each do |y|
              %option
                = y
      .control-group
        %label.control-label{:for => 'selectBrand'} Brand
        .controls
          = select('brand', 'name', options_for_select(@brands), {:prompt => 'Select Brand'})
    .span4
      .control-group
        %label.control-label{:for => 'selectModel'} Model
        .controls
          = select('model', 'name', options_for_select(@models), {:prompt => 'Select Model'})
      .control-group
        %label.control-label{:for => 'sits'} Sits
        .controls
          = collection_select('model', 'year', @years, :year, :id, {:prompt   => 'Select a Year'}, {:id => 'model_year'})
    .span3
      .control-group
        .controls.checkbox-controls
          %input#checkbox-hasTrunk.checkbox{:name => 'has_trunk', :type => 'checkbox'}
            Has Trunk


    -# = select('model', 'year', options_for_select(@years), {:prompt => 'Select Year', :id=> 'year_select'})

    -# = select("device", "name", options_for_select(@devices_for_dropdown), {:prompt => 'Select Device'})
    -# = collection_select(nil, :make_id,  @brands, {:prompt   => "Select a Brand"}, {:id => 'make_select'})
%button#save.btn.btn-primary.pull-right{:name => 'save'}Create Driver


:javascript
  $(document).ready(function() {
    $('#brand_name').change(function() {
      $.ajax({
        url: "#{update_models_path}",
        data: {
          brand : $('#brand_name').val()
        },
        statusCode: {
            200: function() {
              $('#model_name').change();
            }
        },
        dataType: "script"
      });
    });

    $('#model_name').change(function() {
     $.ajax({
        url: "#{update_years_path}",
          data: {
            brand : $('#brand_name').val(),
            model : $('#model_name').val()
        },
        dataType: "script"
      });
     });
  });


= link_to 'Back', hitchhikers_path