%h2 New user
= form_tag('/hitchhikers/create') do
 = field_set_tag do
  .span4
   .control-group
    = label_tag :name, 'Name:'
    .controls
     = text_field_tag :name,nil, class: 'input-xlarge'
   .control-group
    = label_tag :name, 'Lastname:'
    .controls
     = text_field_tag :lastname,nil, class: 'input-xlarge'
   .control-group
    = label_tag :username, 'Username:'
    .controls
     = text_field_tag :username,nil, class: 'input-xlarge'
  .span4
   .control-group
    = label_tag :name, 'Email:'
    .controls
     = text_field_tag :email,nil, class: 'input-xlarge'
   .control-group
    = label_tag :password, 'Password:'
    .controls
     = text_field_tag :password,nil, class: 'input-xlarge'
   .control-group
    = label_tag :hitchhiker, 'Hitchhiker:'
    = check_box_tag :hitchhiker
 = field_set_tag do
  .span4
   .control-group
    = label_tag :brand, 'Brand:'
    .controls
     = select('brand', 'name', options_for_select(@brands), {:prompt => 'Select Brand'},{:name=> 'brand'})
   .control-group
    = label_tag :model, 'Model:'
    .controls
     = select('model', 'name', options_for_select(@models), {:prompt => 'Select Model'}, {:name=> 'model'})
  .span4
   .control-group
    = label_tag :year, 'Year:'
    .controls
     = collection_select(nil, nil, @years, :year, :id, {:prompt   => 'Select a Year'}, {:name=> 'year', :id => 'model_year'})
   .control-group
    = label_tag :sits, 'Sits:'
    .controls
     %select#sits{:name => 'sits'}
      - (1..50).each do |y|
       %option
        = y
 = submit_tag 'Create hitchhiker', class: 'pull-right'

:javascript
  $(document).ready(function() {
    $('#brand_name').change(function() {
      $.ajax({
        url: "#{update_models_path}",
        data: {
          brand : $('#brand_name').val()
        },
        statusCode: {
            200: function() {
              $('#model_name').change();
            }
        },
        dataType: "script"
      });
    });

    $('#model_name').change(function() {
     $.ajax({
        url: "#{update_years_path}",
          data: {
            brand : $('#brand_name').val(),
            model : $('#model_name').val()
        },
        dataType: "script"
      });
     });

     $('#remove_row').click(function(){
     alert('asas');
      $.ajax({
        url: "#{remove_vehicles_path}",
          data: {
            id : $('#model_year').val()
        },
        dataType: "script"
      });
     });

      $('#add_vehicle').click(function() {
          $.ajax({
             url: "#{add_vehicles_path}",
               data: {
                 brand : $('#brand_name').val(),
                 model : $('#model_name').val(),
                 year : $('#model_year option:selected').text(),
                 id : $('#model_year').val(),
                 sits  : $('#sits').val(),
                 has_trunk: $('#checkbox-hasTrunk').val(),
                 id: $('#model_year').val()
             },
             dataType: "script"
           });
          });
      return false;
  });


= link_to 'Back', hitchhikers_path